In [ ]:
1.) In the below elements which of them are values or an expression?
    eg:- values can be integer or string and expressions will be 
    mathematical operators.
*
'hello'
-87.8
-
/
+
6

1.Ans) * = expression
       'hello' = value (string)
       -87.8 = value (float)
       - = expression
       / = expression
       + = expression
       6 = value (integer)

2.) What is the difference between string and variable

In [ ]:
2.Ans) String: String can be written in quotes.
         eg : "apple", 'apple'
       Variable: It is the thing in which we can store data just like a 
       container.
         eg : A = "apple"
         print(A)
         Here A is a variable and "apple" is a string.

3.) Describe three different data types.

In [ ]:

3.Ans) Diffrernt data type are explain below :-
       1. Integer : Integer can store only numerical values such as 10, 
       20, 34, 56 etc
       
       2. Float: Float can store only floating values such as 10.23, 
       24.35, 54.432, 56,87 etc.
       
       3. List: List is used for storing multiple data items in a single 
       variable.
                eg : list = ["apple", 12345, "banana"]

4.) What is an expression made up of? What do all expressions do?

In [ ]:
4.Ans) Expression is made up of - 
          1. Mathematical operators (eg: +, _, * ,/)
          2. Values
          3. Containers
          eg: a = 4 + (3*4)  
       
       Expressions are used to evaluate the values or represent the result on the screen.

5.) This assignment statements, like spam=10. What is the difference between an expression and 
    a statement?

5.Ans) Expression is made up of values, containers, and mathematical operators and the 
       statement is just like a command that a python interpreter executes like print.

In [ ]:
6.) After running the following code, what does the variable bacon contain?
     1. bacon = 22
     2. bacon + 1

In [13]:
# 6.Ans) After execution code it give 23 as an output.
bacon = 22
bacon + 1

23

In [ ]:
# 7.) What should the values of the following two terms be?

1. 'spam' + 'spamspam'

2. 'spam' * 3

In [15]:
# 7.Ans) 1.
'spam' + 'spamspam'

'spamspamspam'

In [16]:
# 7.Ans) 2.
'spam'*3

'spamspamspam'

8.) Why is eggs a valid variable name while 100 is invalid?

8.Ans) 100 is invalid  variable name because we can't start giving variable an integer name. if we, we 
       should begin with, a string (alphabet) then integer. 
       eg : e100 or eggs100 is valid variable name but on the other hand 100e oe 100eggs is an invalid  
       variable name

9.) What three functions can be used to get the integer, floating-point number, or string version of a 
    value?

In [ ]:
9.Ans) Functions used to get the integer, floating and string values are -
       int() for integer
       str() for string
       float() for floating-point value

In [18]:
# 10.) Why does this expression cause an error? How can you fix it?

'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

10.Ans) Above expression ('I have eaten' + 99 + 'burritos') cause an error because 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we need to do typecasting.